<% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
      <div id="toast-top-left" class="fixed top-10 left-5 flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-sm top-5 left-5 dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">
        <div class="text-sm font-normal"><%= message %></div>
      </div>
    <% end %>
  </div>
<% end %>
