<h3> My Favorites </h3>
<br/>
<span> Count: <%= @my_favorite_movies.count %> </span>

<% if @my_favorite_movies.any? %>
  <ul>
    <% @my_favorite_movies.each do |m| %>
      <li>
        <strong><%= m.title %></strong>
        <img src=<%= m.poster %> alt="">
        <%= link_to "Show", movie_path(m.api_movie_id) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no favorite movies yet.</p>
<% end %>